# Exclusiones de Frontend
**/Frontend/node_modules/
**/Frontend/build/

# Exclusiones de Backend (Node.js)
**/Backend/node_modules/

# Archivos de entorno / llaves
*.env
.env.local

# Editor / logs
.vscode/
*.log